extends ../layout

block head

  style(type="text/css").
    .highlight{
      background-color: yellow;
    }
    .strikethrough{
      text-decoration: line-through;
    }

  - for c in css
    link(href=c, rel="stylesheet")

  link(rel='stylesheet', href='/stylesheets/render.css')

  - for j in js
    script(type="text/javascript", src=j)
  
  script(type="text/javascript", src="/js/serve-pie-processor.js")

  - for i in htmlImports
    link(rel="import", href=i)

  script.

    (function(root){
      var model = !{JSON.stringify(model)};
      var env = {mode : 'gather', locale: 'en_US'};
      var sessions = [];
      var servePie = {
        processor: new ServePieProcessor(!{JSON.stringify(processingEndpoints)})
      }
      
      pie.container = new root.pie.Container(model.components, env, sessions, servePie.processor);
      console.log('pie.container instance constructed');
    })(this);

    document.addEventListener('pie.envChanged', function(event){
      var env = event.target.env;
      if(env && env.accessibility && env.accessibility.colorContrast){
        var renderNode = document.querySelector('.render-main');
        renderNode.setAttribute('class', 'render-main ' + env.accessibility.colorContrast);
      }
    });

    document.addEventListener('xapi-changed', function(event){
      console.log('xapi changed', event);

      if(pieXapi){
        pieXapi.setActor(event.detail.actor);
        pieXapi.setConfig(event.detail.config);
      }
    });

block content
  //- corespring-highlight-behavior(target=".rendering")
  xapi-controls
  pie-control-panel
  //-   masking-button(target="#masking")
  //-   corespring-highlight-button
  //- corespring-masking#masking(target=".rendering")

  hr/
  div.render-main
    div.rendering
      !{markup}
    div.session-preview
      h4 session:
      textarea(cols="30", rows="20")
