extends ../layout

block head

  - for c in css
    link(href=c, rel="stylesheet")

  link(rel='stylesheet', href='/stylesheets/render.css')

  - for j in js
    script(type="text/javascript", src=j)
  
  script(type="text/javascript", src="/js/serve-pie-processor.js")

  - for i in htmlImports
    link(rel="import", href=i)

  script.

    (function(root){
      var model = !{JSON.stringify(model)};
      var env = {mode : 'gather', locale: 'en_US'};
      var sessions = [];
      var servePie = {
        processor: new ServePieProcessor(!{JSON.stringify(processingEndpoints)})
      }
      
      pie.container = new root.pie.Container(model.components, env, sessions, servePie.processor);
      console.log('pie.container instance constructed');
    })(this);

block content
  pie-control-panel
  corespring-masking#masking(target=".rendering")
  masking-button(target="masking")

  hr/
  div.render-main
    div.rendering
      !{markup}
    div.session-preview
      h4 session:
      textarea
