extends ../layout

block head

  - for c in css
    link(href=c, rel="stylesheet")


  link(rel='stylesheet', href='/stylesheets/render.css')

  - for j in js
    script(type="text/javascript", src=j)

  - for i in htmlImports
    link(rel="import", href=i)

  script.

    (function(root){
      var model = !{JSON.stringify(model)};
      console.log('model', model);
      var env = {mode : 'gather'};
      var sessions = [];
      pie.container = new root.pie.Container(model.components, env, sessions);
      console.log('pie.container instance constructed');
    })(this);




block content
  h1= name
  hr/
  pie-control-panel
  hr/
  div.render-main
    div.rendering
      !{markup}
    div.session-preview
      h4 session:
      textarea
